/*
Home Page Component
*/

.lastdraw {
    font-size: 14px;
    border: 1.5px solid #4b65ff;
    border-radius: 10px;
    font-size: 22px;
    padding: 2px 6px;
    font-weight: 400;
}

.betclose {
    font-size: 14px;
    border: 1.5px solid #ef076a;
    border-radius: 10px;
    font-size: 22px;
    padding: 2px 6px;
    font-weight: 400;
}

.lottery {
    font-size: 14px;
    border: 1.5px solid #01e3bf;
    border-radius: 10px;
    font-size: 22px;
    padding: 2px 6px;
    font-weight: 400;
}

.chartDesgin {
    margin-top: 10px;
    padding: 5px 5px;
    background-color: #fff;
    border-radius: 10px;
}

.button {
    background-color: #003e70;
    font-size: 14px;
    color: #fff;
    padding: 9px 12px;
    border-radius: 2px;
    margin: 0px 5px;
    text-transform: capitalize;
}

.cursor {
    cursor: pointer;
}

.arrow {
    font-size: 40px;
}

.topHeader {
    padding: 12px 3px;
}

.v-card-style {
    box-shadow: none !important;
    /* border: 1px solid #003e70; */
    border-radius: 0;
}

.text-primary {
    color: #003e70 !important;
}

.text-center {
    text-align: center !important;
}

.text-second {
    color: green;
}

.text-white {
    color: white !important;
}

.text-gray {
    color: #c7bebe;
}

.text-yellow {
    color: #fbec23;
}

ul {
    list-style-type: none;
    padding: 0;
}

.v-toolbar {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.border-right {
    border-right: 1px solid !important;
}

.border-color-primary {
    border-right: 1px solid !important;
    border-color: #003e70 !important;
}

.border-left {
    border-left: 1px solid !important;
}

.text-color .v-input__control label {
    color: #003e70 !important;
    font-size: 12px;
}

.vue-back-to-top {
    background-color: #003e70;
    border-radius: 50%;
}

.v-list__tile .theme--light .v-input__control .v-input--selection-controls__input i {
    color: #003e70 !important;
}

.icon-primary {
    color: #003e70 !important;
}

.dashed {
    border-top: 1px dashed !important;
    opacity: 0.4 !important;
}

a {
    text-decoration: none;
}

.v-toolbar__content-remove-r .v-toolbar__content {
    padding-right: 0 !important;
}

.container-bet {
    position: relative;
    width: 100%;
    height: calc(100vh - 135px);
    display: inline-flex;
}

.v-tabs__item {
    padding: 6px 0px !important;
    font-size: 0.9rem !important;
    color: #003e70 !important;
}

.v-window .v-window__container .v-window-item {
    text-align: center;
}

.v-window .v-window__container .v-window-item .box-click {
    background-color: #FFF;
    color: #003e70;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    margin: 4px;
    width: 7rem;
    box-shadow: 5px 5px 18px 5px #888888;
    /* height: 4rem; */
}

.v-window .v-window__container .v-window-item .box-click .v-card__title {
    padding: 6px;
}

.v-window .v-window__container .v-window-item .box-click .v-card__title.o-even {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.v-window .v-window__container .v-window-item .box-click .v-card__title.o-even h5 {
    padding: 0px;
}

.v-window .v-window__container .v-window-item .box-click .v-card__title h5 {
    text-transform: uppercase;
}

.v-window .v-window__container .v-window-item .box-click .v-card__title span {
    font-weight: 300;
}

nav.total-bet.v-toolbar.theme--light {
    background-color: #003e70;
    display: flex;
    justify-content: center;
    bottom: auto;
    /* position: absolute; */
}

nav.total-bet.v-toolbar.theme--light p {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin: 0;
}

.v-dialog.v-dialog--active .v-card.v-sheet.theme--light .v-card__title.headline {
    text-align: center;
    justify-content: center;
}

.card-flag {
    text-align: center;
}

.layout.card-flag .v-radio {
    text-align: center;
    justify-content: center;
    margin-left: 28px;
}

.card-flag .v-input.v-input--selection-controls {
    justify-content: center;
}

.drawer-asidebar.v-navigation-drawer.v-navigation-drawer--fixed.v-navigation-drawer--open.v-navigation-drawer--right.v-navigation-drawer--temporary.theme--light {
    width: 50% !important;
}

hr.head-jumbothron {
    border-bottom: 0.2px solid;
}

.drawer-asidebar .d-block {
    text-align: left;
    padding: 0px 10px;
}

.drawer-asidebar .close .v-btn__content {
    position: absolute;
    right: 0;
}

.drawer-asidebar .layout .box-click-modal {
    background-color: #003e70;
    color: #fff;
    padding: 24px;
    border-radius: 5px;
    margin: 3px;
    text-align: center;
    justify-content: center;
}

.drawer-asidebar .row .box-click-modal .o-even {
    text-align: center;
    justify-content: center;
}

.round-1 {
    border-radius: 5px !important;
    text-align: center;
    padding: 25px;
    width: 80%;
    color: #ffffff !important;
}

p.text-dest {
    padding: 10px 0px;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    font-style: italic;
}

.v-dialog--fullscreen {
    background-color: #fff !important;
}

nav.modal-bet.v-toolbar.theme--light {
    background-color: #003e70;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

nav.modal-bet.v-toolbar.theme--light p {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin: 0;
    text-transform: uppercase;
}

.betClose {
    z-index: 100;
    background-color: white;
    position: absolute;
    opacity: 0.5;
    color: red;
    text-transform: uppercase;
    height: calc(32vh + 42px);
    width: 100%;
}

.betClose p {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 23%;
    font-size: 3rem;
}

.layout.row .v-card-style .close-bet-chart {
    background-color: #00000082;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.layout.row .v-card-style .close-bet-chart span.text-close-bet {
    position: relative;
    color: #ff0000;
    font-size: 22px;
    font-weight: 900;
    z-index: 10101011;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    display: flex;
    top: 40%;
}

.card-mode {
    z-index: 50;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 200px !important;
    text-align: center !important;
    border-radius: 5px !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.container .bg-primary h1 {
    color: #474747;
    padding: 50px 0px;
}

.copyright {
    position: fixed;
    bottom: 0;
    padding: 30px;
}

.copyright .company-name {
    position: fixed;
    left: 0;
    margin-left: 10px;
    color: #474747;
}

.copyright .version-app {
    position: fixed;
    right: 0;
    margin-right: 10px;
    color: #474747;
}

.v-content__wrap .bg-primary .container.fill-height {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: calc(50vh - 250px);
}

.container .bg-primary .footer {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    background-size: 100%;
}

.v-content__wrap .container .bg-primary {
    background-image: url("/bg/bgs.jpg");
    background-repeat: round;
    z-index: -1;
    height: 95.6vh;
}

.container .row p.stockName {
    color: #474747;
}

.container .row p.stockDetail {
    color: #003e70;
    float: right;
    text-align: right;
}

.container .row.hr {
    border-bottom: 1px dashed #003e70ab;
    padding: 10px 0px;
}

.container.w80 {
    width: 90%;
}

.flex-style {
    font-size: 0.8rem;
}

.v-table__overflow {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 10px !important;
}

.v-text-field {
    padding-top: 5px !important;
    margin-top: 0px !important;
}


/* ================= Stock List ===================== */

.head-result-stock {
    text-align: center;
    text-transform: uppercase;
    background-color: #003e70;
    color: #ffffff;
    padding: 0;
}

.totalAmount {
    background-color: #8392b2;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 22px;
}

.buttonGreen {
    color: #fff !important;
    border-radius: 10px;
    border: 1px solid #003e70;
    background-image: linear-gradient(to right, #0bb177 30%, #2bb13a 51%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3) !important;
    font-size: 20px;
}

.buttonRed {
    color: #fff !important;
    border-radius: 10px;
    background-image: linear-gradient(to right, #b73599 20%, #eb106e 51%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3) !important;
}

.buttonCancel {
    color: #fff !important;
    border-radius: 10px;
    background-image: linear-gradient(to right, #888787 30%, #626161 51%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3) !important;
}

.headerStockBar {
    font-size: 21px;
    text-transform: uppercase;
    color: #0a2762;
    font-weight: 500;
}

.table tr:first-child {
    border: none;
    font-size: 11px;
}

.leftStocklist .table tr td {
    font-size: 11px;
}

.leftStocklist {
    background-color: #fff;
    margin: 10px 5px;
    border-radius: 20px;
}

table.result-table tr {
    font-size: 5px;
}


/* ================= Stock List ===================== */


/* ================= Betting Button ===================== */

.width-bet-button {
    width: 20%;
}

.w20 {
    width: 19.2%;
    margin: 0 4px;
}

.w16 {
    width: 15.399999%;
    margin: 0 4px;
}

.w18 {
    width: 18.55555%;
    margin: 0 4px;
}

.w12 {
    width: 12.55555%;
    margin: 0 2px;
}

.w10 {
    width: 10.55555%;
    margin: 0 4px;
}

.bg-btn-first-color {
    background: linear-gradient(to right, #19b9ff 20%, #3a79ff 51%);
    color: #FFF !important;
}

.bg-btn-first {
    background: linear-gradient(to right, #19b9ff 20%, #3a79ff 51%);
    height: 83px;
    font-size: 16px;
    font-weight: 400;
    /* background-color: #093e70 !important; */
    color: #ffffff !important;
    min-width: 88%;
    border-radius: 6px;
    padding: 0;
    margin: 4px;
}

.bg-btn-last-color {
    background: linear-gradient(to right, #fcc12c 20%, #fe644a 51%);
}

.bg-btn-last {
    background: linear-gradient(to right, #fcc12c 20%, #fe644a 51%);
    height: 83px;
    font-size: 16px;
    font-weight: 400;
    /* background-color: #093e70 !important; */
    color: #ffffff !important;
    min-width: 88%;
    border-radius: 6px;
    padding: 0;
    margin: 4px;
}

.bg-btn-both-color {
    background: linear-gradient(to right, #be3095 20%, #e71275 51%);
}

.bg-btn-both {
    background: linear-gradient(to right, #be3095 20%, #e71275 51%);
    height: 83px;
    font-size: 16px;
    font-weight: 400;
    /* background-color: #093e70 !important; */
    color: #ffffff !important;
    min-width: 100%;
    border-radius: 6px;
    padding: 0;
    margin: 4px;
}

.bg-btn-two-color {
    background: linear-gradient(to right, #25dac2 20%, #0287db 51%);
}

.bg-btn-two {
    background: linear-gradient(to right, #25dac2 20%, #0287db 51%);
    height: 83px;
    font-size: 16px;
    font-weight: 400;
    /* background-color: #093e70 !important; */
    color: #ffffff !important;
    min-width: 100%;
    border-radius: 6px;
    padding: 0;
    margin: 4px;
}

.align_button4 span,
.align_button5 span {
    width: 100%;
    float: left;
}

.align_button4.v-btn {
    height: 83px;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF !important;
    /* color: #ffffff !important; */
    min-width: 100%;
    border-radius: 6px;
    padding: 0;
    margin: 4px;
}

.align_button5.v-btn {
    height: 83px;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF !important;
    /* color: #ffffff !important; */
    min-width: 100%;
    border-radius: 6px;
    padding: 0;
    margin: 4px;
}

.align_button4.v-btn .v-btn__content,
.align_button5.v-btn .v-btn__content,
.betting-small.v-btn.theme--light {
    display: block;
}

.firstDigit.v-btn .v-btn__content,
.lastDigit.v-btn .v-btn__content,
.bothDigit.v-btn .v-btn__content,
.twoDigit.v-btn .v-btn__content {
    white-space: pre-line !important;
}

.big-digit {
    font-size: 1rem;
    font-weight: 600;
}

.small-digit {
    font-size: 12px;
    text-transform: capitalize;
}

.betting-small.v-btn.theme--light {
    border-radius: 6px;
    padding: 0px;
    margin: 4px 0px 2px 6px;
    height: 83px;
    font-size: 16px;
    font-weight: 500;
    /* background-color: #003e70 !important; */
    /* color: #fff !important; */
    min-width: 70px !important;
}

.layout .flex .layout .flex .container-btn-small {
    width: 100%;
    position: relative;
    display: inline-block;
}

button.btn-small.v-btn.theme--light {
    background-color: #003e70 !important;
    color: #fff !important;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    min-width: 7.15%;
}

.border-chart {
    border: 1px solid;
    margin: 0;
}


/* .vue-back-to-top i {
  width: 50%;
  display: block;
  height: 50%;
  border-radius: 50%;
  font-size: 25px !important;
  padding: 6px;
} */


/* ================= Betting Button ===================== */


/* Bet Close for desktop */

.align_button4,
.align_button5 {
    border-radius: 10px;
}

.betting-small {
    border-radius: 5px;
}

.p-relative {
    position: relative !important;
}


/* End of the bet close for deskop */


/* Bettting Result */

table.result-table {
    font-size: 8px;
}

.table.table-responsive.bet-result {
    font-size: 10px;
}

.table.table-responsive.all-result {
    font-size: 8px;
}

.flex-style {
    width: 100%;
    font-size: 1.5em !important;
    padding: 2px;
    font-weight: bold;
    /* background-color: #003e70; */
    color: #000;
    min-height: 36px;
    border: 1px solid #003e70;
    border-radius: 0.5em;
}

.table-responsive {
    overflow: overlay;
}


/* Iphone 5 */


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .betClose {
        height: calc(73vh + 46px);
    }
    .betClose p {
        top: 53%;
        left: 16%;
    }
}

@media only screen and (max-height: 350px) {
    nav.total-bet.v-toolbar.theme--light {
        bottom: 0;
        position: fixed;
    }
    .topHeader {
        padding: 0px;
    }
}

@media only screen and (min-width: 568px) {
    .container .bg-primary h1 {
        padding: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .container-bet {
        height: calc(100vh - 170px);
    }
}

@media only screen and (min-width: 960px) {}

@media only screen and (min-width: 1264px) {}

@media only screen and (min-width: 1904px) {
    .d-block.w16 {
        width: 19%;
    }
    table.result-table tr {
        font-size: 10px;
    }
    .table.table-responsive.bet-result {
        font-size: 14px;
    }
    .table.table-responsive.all-result {
        font-size: 10px;
    }
}

.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0px 18px 18px 18px !important;
    border-color: transparent transparent #fafafa transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: -13px !important;
    margin-bottom: -9px;
}

.popper {
    z-index: 1000 !important;
}

.floatBTN {
    border: 1px solid #333;
    position: fixed;
    right: 3%;
    bottom: 3%;
    background-color: #003e70;
    color: #fff;
    padding: 15px;
    border-radius: 180px;
    font-size: 20px;
    border: 2px solid #093e70;
    cursor: pointer;
}

.justify-between {
    justify-content: space-between;
}


/* main button */

.main-btn {
    background-color: #1db42f;
    color: #fff !important;
    border-radius: 8px;
    height: 45px;
    background: rgba(10, 177, 118, 1);
    background: -moz-linear-gradient(left, rgba(10, 177, 118, 1) 0%, rgba(14, 177, 30, 1) 100%);
    background: -webkit-gradient( left top, right top, color-stop(0%, rgba(10, 177, 118, 1)), color-stop(100%, rgba(14, 177, 30, 1)));
    -webkit-box-shadow: 17px -5px 133px 6px rgba(186, 186, 186, 0.64);
    -moz-box-shadow: 17px -5px 133px 6px rgba(186, 186, 186, 0.64);
    box-shadow: 17px -5px 133px 6px rgba(186, 186, 186, 0.64);
    background: -webkit-linear-gradient(left, rgba(10, 177, 118, 1) 0%, rgba(14, 177, 30, 1) 100%);
    background: -o-linear-gradient(left, rgba(10, 177, 118, 1) 0%, rgba(14, 177, 30, 1) 100%);
    background: -ms-linear-gradient(left, rgba(10, 177, 118, 1) 0%, rgba(14, 177, 30, 1) 100%);
    background: linear-gradient(to right, rgba(10, 177, 118, 1) 0%, rgba(14, 177, 30, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0ab176', endColorstr='#0eb11e', GradientType=1);
}

.border-round .v-input__control {
    border-radius: 30px;
    border: 1px solid #0000002e;
    padding: 6px 20px;
}

.border-round .v-input__control .v-input__slot .v-text-field__slot label {
    top: -10px !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.container.fluid {
    padding: 0 15px !important;
}


/* Loading page  */

.percentage {
    z-index: 100;
    border: 1px solid #ccc;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 15px;
}

.loader,
.percentage {
    height: 30px;
    max-width: 25%;
    border: 1px solid #ffc107;
    font-weight: 300;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.loader:after,
.percentage:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.trackbar {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    opacity: 0.99;
}

.loadbar {
    width: 10%;
    height: 100%;
    /* transform: rotate(1deg); */
    background: repeating-linear-gradient(45deg, #ffc107, #ffc107 10px, #ffc107 10px, #ffc107 20px);
    /* Stripes Background Gradient */
    box-shadow: 0px 0px 14px 1px #ffc107;
    position: absolute;
    top: 0;
    left: 0;
    animation: flicker 5s infinite;
    overflow: hidden;
}

.glow {
    width: 0%;
    height: 0%;
    box-shadow: 0px 0px 60px 10px #ffc107;
    animation: animation 5s infinite;
}

@keyframes animation {
    10% {
        opacity: 0.9;
    }
    30% {
        opacity: 0.86;
    }
    60% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.75;
    }
}


/* END THE LOADING PAGE */


/*  Background  */


/* background: rgb(76,182,121);
background: radial-gradient(circle, rgba(76,182,121,1) 31%, rgba(93,190,109,1) 100%); */


/* background: rgb(76,182,121);
background: radial-gradient(circle, rgba(76,182,121,1) 31%, rgba(93,190,109,1) 100%); */


/* End Background gradient */