.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  display: none !important;
}

.v-window__container .v-window-item button.my-btn.v-btn.theme--light, .v-window__container .v-window-item button.my-btn.cancel.v-btn.theme--light {
  background-color: #003e70;
  color: #ffffff;
}

span.text-blue, span.text-success, span.text-purple, span.text-yellow, span.text-blue-light, span.text-blue-dark, span.text-dont-no, span.text-red {
  font-size: 1rem;
  font-weight: 800;
  margin: 20px 0px;
}

.bettingFooter {
  margin-top: 5px;
  color: #FFF;
}

span.text-blue {
  color: blue !important;
}

span.text-success {
  color: green !important;
}

span.text-purple {
  color: purple !important;
}

span.text-yellow {
  color: #9d9338 !important;
}

span.text-blue-light {
  color: blue !important;
}

span.text-red {
  color: red !important;
}

.v-content__wrap .container .layout button.main-btn {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #003e70;
  height: 50px;
  margin: 10px 0px;
}

.v-content__wrap .container .layout button.main-btn.v-btn--active {
  color: #ffffff;
  background-color: #003e70;
  border-radius: 0;
  height: 50px;
  margin: 10px 0px;
}

.v-content__wrap .container .layout button.main-btn.back {
  color: #ffffff;
  float: left;
  background-color: #003e70;
}

.v-content__wrap .container .layout .flex .layout .flex .p-relative .layout .w20 span .popper .layout .flex .layout .flex .v-avatar .v-responsive .v-responsive__content {
  top: 18px;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.d-between .v-avatar {
  background-color: #f1f1f196;
  padding: 100px;
  margin: 10px;
}

.d-between p {
  margin: 0;
  color: #003e70;
  font-size: 1rem;
  text-transform: capitalize;
  right: 50px;
}

.d-between span {
  margin: 0 10px 0 50px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

span.text-white i.fa.fa-bell {
  color: #ffc107;
}

.table.table-striped tbody {
  color: #003e70;
}

.table.table-striped tbody tr .row {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #003e70;
  padding: 20px;
}

.table.table-striped tbody tr .v-input {
  padding: 0;
}

.table.table-striped tbody tr .v-input label {
  color: #003e70;
  text-transform: uppercase;
}

.table.table-striped tbody tr .v-input .v-text-field__details {
  display: none;
}

nav .v-toolbar__content .container .layout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .v-toolbar__content .v-toolbar__items a.v-btn--active {
  color: #ffc107;
}

nav .v-toolbar__content .v-toolbar__items .v-btn--active:before,
nav .v-toolbar__content .v-toolbar__items .v-btn:hover:before,
nav .v-toolbar__content .v-toolbar__items .v-btn:focus:before {
  background-color: transparent;
}

.v-window__container .v-window-item .flex table.table {
  border: 0;
}

.v-window__container .v-window-item .flex table.table thead.thead-dark {
  color: #ffffff;
  background-color: #003e70;
}

.v-window__container .v-window-item .flex table.table thead.thead-dark tr:nth-child(even) {
  background-color: #003e702b;
}

.v-window__container .v-window-item .flex table.table thead.thead-dark tr {
  height: 50px;
  text-transform: uppercase;
}

.v-window__container .v-window-item .flex table.table thead.thead-dark tr th {
  text-align: center;
  border: 0;
}

.v-window__container .v-window-item .flex table.table tbody tr:nth-child(even) {
  background-color: #003e702b;
}

.v-window__container .v-window-item .flex table.table tbody tr {
  height: 50px;
  text-transform: uppercase;
}

.v-window__container .v-window-item .flex table.table tbody tr th,
.v-window__container .v-window-item .flex table.table tbody tr td {
  text-transform: uppercase;
  text-align: center;
  color: #003e70;
  font-weight: 400;
}

.v-window__container .v-window-item .my-bg {
  text-align: left;
  background-color: #003e702b;
}

.v-window__container .v-window-item .my-bg .v-input .v-input__control .v-input__slot label {
  color: #003e70;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.v-window__container .v-window-item .my-bg .v-input .v-input__control .v-input__slot .v-input--selection-controls__input .accent--text {
  color: #003e70 !important;
  caret-color: #003e70 !important;
}

.v-window__container .v-window-item .my-bg .layout button {
  background-color: #003e70;
  color: #ffffff;
}

.v-window__container .v-window-item .my-bg .layout .flex {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v-window__container .v-window-item .my-bg .layout .flex .v-responsive .v-responsive__content .text-white .v-input__control {
  background-color: transparent;
}

.v-window__container .v-window-item .my-bg .layout .flex .v-responsive .v-responsive__content .text-white .v-input__control .v-input__slot .v-text-field__slot input {
  color: #ffffff !important;
}

.v-window__container .v-window-item .my-bg .layout .flex .v-responsive .v-responsive__content .v-input .v-input__control {
  background-color: transparent;
}

.v-window__container .v-window-item .my-bg .layout .flex .v-responsive .v-responsive__content .v-input .v-input__control .v-input__slot .v-text-field__slot input {
  color: #003e70;
}

.v-window__container .v-window-item .my-bg .layout .flex .v-card__actions button {
  background-color: #003e70;
  color: #ffffff;
}

.v-window__container .v-window-item .my-bg .layout .flex .v-card__text {
  font-style: italic;
}

.v-window__container .v-window-item .my-bg .v-card__title {
  color: #003e70;
  margin: 10px 10px 0 10px;
  padding: 10px 10px 0 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.v-window__container .v-window-item .my-bg ul li .v-expansion-panel__header {
  font-size: 1.2rem;
  font-weight: 700;
  color: #003e70;
}

.v-window__container .v-window-item .v-item-group button.view-chart {
  float: left;
  margin-left: 10px;
  color: #ffffff !important;
  background-color: #003e70 !important;
}

.v-window__container .v-window-item .v-item-group button.more-detail {
  float: right;
  margin-right: 10px;
  color: #ffffff !important;
  background-color: #003e70 !important;
}

.v-window__container .v-window-item .layout .won label,
.v-window__container .v-window-item .action .won label {
  color: #003e70;
}

.v-window__container .v-window-item .layout .won .v-input__control,
.v-window__container .v-window-item .action .won .v-input__control {
  background-color: transparent !important;
}

.v-window__container .v-window-item .layout .lost label,
.v-window__container .v-window-item .action .lost label {
  color: red;
}

.v-window__container .v-window-item .layout .lost .v-input__control,
.v-window__container .v-window-item .action .lost .v-input__control {
  background-color: transparent !important;
}

.v-window__container .v-window-item .layout .more,
.v-window__container .v-window-item .action .more {
  position: absolute;
  right: 0;
}

.v-window__container .v-window-item .layout .v-card,
.v-window__container .v-window-item .action .v-card {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.v-window__container .v-window-item .layout .v-card .v-card__text,
.v-window__container .v-window-item .action .v-card .v-card__text {
  color: #003e70;
  display: block;
  text-align: left;
  font-size: 1rem;
  text-transform: capitalize;
}

.v-window__container .v-window-item button.my-btn.cancel.v-btn.theme--light {
  background-color: #8c8c8c;
}

.v-window__container .v-window-item button.my-btn.go {
  margin-top: 30px;
  height: 40px;
}

.v-window__container .v-window-item .flex.float-right {
  position: absolute;
  right: 0;
}

.v-window__container .v-window-item .flex.float-right .v-input .v-input__control .v-select__slot .v-select__selections {
  color: #ffffff;
}

.v-window__container .v-window-item .flex.float-right .v-input .v-input__control .v-input__slot {
  background-color: #003e70;
}

.v-window__container .v-window-item .flex.float-right .v-input .v-input__control .v-input__slot label {
  color: #ffffff;
}

.v-window__container .v-window-item .flex.float-right .v-input .v-input__control .v-input__slot .v-input__append-inner .v-input__icon i {
  color: #ffffff;
}

.v-window__container .v-window-item .flex.main-select .v-input .v-input__control .v-select__slot .v-select__selections {
  color: #ffffff;
}

.v-window__container .v-window-item .flex.main-select .v-input .v-input__control .v-input__slot {
  background-color: #003e70;
}

.v-window__container .v-window-item .flex.main-select .v-input .v-input__control .v-input__slot label {
  color: #ffffff;
}

.v-window__container .v-window-item .flex.main-select .v-input .v-input__control .v-input__slot .v-input__append-inner .v-input__icon i {
  color: #ffffff;
}

.v-window__container .v-window-item .layout .flex .v-input {
  margin: 20px;
}

.v-window__container .v-window-item .layout .flex .v-input .v-input__prepend-outer .v-input__icon i {
  color: #003e70;
}

.v-window__container .v-window-item .layout .flex .v-input .v-input__control {
  background-color: #003e70;
  border-radius: 4px;
}

.v-window__container .v-window-item .layout .flex .v-input .v-input__control .v-text-field__details {
  display: none;
}

.v-window__container .v-window-item .layout .flex .v-input .v-input__control .v-input__slot .v-text-field__slot label {
  color: #003e70;
  font-size: 1.8rem;
  margin: -6px;
}

.v-window__container .v-window-item .layout .flex .v-input .v-input__control .v-input__slot .v-text-field__slot input {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 11px;
}

.application--wrap .container.bg-fullscreen.fluid {
  background-color: #002038 !important;
}

.application--wrap .container.bg-fullscreen.fluid .layout .flex .flex .p-relative .layout .w20 .align_button4,
.application--wrap .container.bg-fullscreen.fluid .layout .flex .flex .p-relative .layout .w20 .align_button5,
.application--wrap .container.bg-fullscreen.fluid .layout .flex .flex .p-relative .layout .w16 .align_button4,
.application--wrap .container.bg-fullscreen.fluid .layout .flex .flex .p-relative .layout .w16 .align_button5 {
  height: 65px;
}

.application--wrap .container.bg-fullscreen.fluid .layout .flex .flex .p-relative .layout .w20 .betting-small,
.application--wrap .container.bg-fullscreen.fluid .layout .flex .flex .p-relative .layout .w16 .betting-small {
  height: 20px;
}

.application--wrap .container.bg-fullscreen.fluid .layout .flex .flex .p-relative .container-btn-small {
  width: 100%;
  position: relative;
  display: inline-block;
}

.application--wrap .container.bg-fullscreen.fluid .layout .flex .flex .p-relative .container-btn-small span .btn-small {
  height: 50px;
}

nav .container .layout .v-btn--active {
  color: #ffc107;
}

nav .container .layout .v-btn--active:before,
nav .container .layout .v-btn:hover:before,
nav .container .layout .v-btn:focus:before {
  background-color: transparent;
}

.application .application--wrap nav.nav-tab .v-toolbar__content {
  background-color: #fafafa;
  height: auto !important;
}

.application .application--wrap main {
  padding: 0 !important;
}

.application--wrap .v-toolbar .v-toolbar__content {
  padding: 0;
}

@media (max-width: 600px) {
  .application--wrap .v-content .v-content__wrap .container .remove-flex {
    display: block;
    margin-top: 28px;
  }
}

.flex .v-card .layout .flex .v-avatar .v-responsive .v-image__image {
  background-size: 90%;
}

.flex .v-card .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
  background-color: #384e63;
  color: #ffffff;
  text-transform: capitalize;
}

.flex .v-card .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header .v-expansion-panel__header__icon i {
  color: #ffffff;
}

@media (max-width: 600px) {
  .flex .v-card .layout .flex .v-avatar {
    width: 55px !important;
  }
  .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__body .v-card .layout.row {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */