.v-card-style {
    box-shadow: none !important;
    border: 1px solid #003e70;
    border-radius: 0;
}

.text-primary {
    color: #003e70 !important;
}

.text-center {
    text-align: center !important;
}

.text-second {
    color: green;
}

.text-white {
    color: white !important;
}

.text-gray {
    color: #c7bebe;
}

.text-yellow {
    color: #fbec23;
}

ul {
    list-style-type: none;
    padding: 0;
}

.v-toolbar {
    box-shadow: none !important;
}

.border-right {
    border-right: 1px solid !important;
}

.border-color-primary {
    border-right: 1px solid !important;
    border-color: #003e70 !important;
}

.border-left {
    border-left: 1px solid !important;
}

body,
.container,
.light-toobar {
    background-color: #ffffff !important;
}

.text-color .v-input__control label {
    color: #003e70 !important;
    font-size: 12px;
}

.vue-back-to-top {
    background-color: #003e70;
    border-radius: 50%;
}

.v-list__tile .theme--light .v-input__control .v-input--selection-controls__input i {
    color: #003e70 !important;
}

.icon-primary {
    color: #003e70 !important;
}

.dashed {
    border-top: 1px dashed !important;
    opacity: 0.4 !important;
}

a {
    text-decoration: none;
}

.v-toolbar__content-remove-r .v-toolbar__content {
    padding-right: 0 !important;
}

.container-bet {
    position: relative;
    width: 100%;
    height: calc(100vh - 135px);
    display: inline-flex;
}

.v-tabs__item {
    padding: 6px 0px !important;
    font-size: 0.9rem !important;
    color: #003e70 !important;
}

.v-window .v-window__container .v-window-item {
    text-align: center;
}

.v-window .v-window__container .v-window-item .box-click {
    background-color: #003e70;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 4px;
    width: 7rem;
    /* height: 4rem; */
}

.v-window .v-window__container .v-window-item .box-click .v-card__title {
    padding: 6px;
}

.v-window .v-window__container .v-window-item .box-click .v-card__title.o-even {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.v-window .v-window__container .v-window-item .box-click .v-card__title.o-even h5 {
    padding: 0px;
}

.v-window .v-window__container .v-window-item .box-click .v-card__title h5 {
    text-transform: uppercase;
}

.v-window .v-window__container .v-window-item .box-click .v-card__title span {
    font-weight: 300;
}

nav.total-bet.v-toolbar.theme--light {
    background-color: #003e70;
    display: flex;
    justify-content: center;
    bottom: auto;
    position: absolute;
    width: 50%;
}

nav.total-bet.v-toolbar.theme--light p {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin: 0;
}

.v-dialog.v-dialog--active .v-card.v-sheet.theme--light .v-card__title.headline {
    text-align: center;
    justify-content: center;
}

.card-flag {
    text-align: center;
}

.layout.card-flag .v-radio {
    text-align: center;
    justify-content: center;
    margin-left: 28px;
}

.card-flag .v-input.v-input--selection-controls {
    justify-content: center;
}

.drawer-asidebar.v-navigation-drawer.v-navigation-drawer--fixed.v-navigation-drawer--open.v-navigation-drawer--right.v-navigation-drawer--temporary.theme--light {
    width: 50% !important;
}

hr.head-jumbothron {
    border-bottom: 0.2px solid;
}

.drawer-asidebar .d-block {
    text-align: left;
    padding: 0px 10px;
}

.drawer-asidebar .close .v-btn__content {
    position: absolute;
    right: 0;
}

.drawer-asidebar .layout .box-click-modal {
    background-color: #003e70;
    color: #fff;
    padding: 24px;
    border-radius: 5px;
    margin: 3px;
    text-align: center;
    justify-content: center;
}

.drawer-asidebar .row .box-click-modal .o-even {
    text-align: center;
    justify-content: center;
}

.round-1 {
    border-radius: 5px !important;
    text-align: center;
    padding: 25px;
    width: 80%;
    color: #ffffff !important;
}

p.text-dest {
    padding: 10px 0px;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    font-style: italic;
}

.v-dialog--fullscreen {
    background-color: #fff !important;
}

nav.modal-bet.v-toolbar.theme--light {
    background-color: #003e70;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

nav.modal-bet.v-toolbar.theme--light p {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin: 0;
    text-transform: uppercase;
}

.betClose {
    z-index: 100;
    background-color: white;
    position: absolute;
    opacity: 0.5;
    color: red;
    text-transform: uppercase;
    height: calc(64vh + 46px);
    width: 50%;
}

.betClose p {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 23%;
    font-size: 3rem;
}

.layout.row .v-card-style .close-bet-chart {
    background-color: #00000082;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.layout.row .v-card-style .close-bet-chart span.text-close-bet {
    position: relative;
    color: #ff0000;
    font-size: 22px;
    font-weight: 900;
    z-index: 10101011;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    display: flex;
    top: 40%;
}

.card-mode {
    z-index: 50;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 200px !important;
    text-align: center !important;
    border-radius: 5px !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.container .bg-primary h1 {
    color: #474747;
    padding: 50px 0px;
}

.copyright {
    position: fixed;
    bottom: 0;
    padding: 30px;
}

.copyright .company-name {
    position: fixed;
    left: 0;
    margin-left: 10px;
    color: #474747;
}

.copyright .version-app {
    position: fixed;
    right: 0;
    margin-right: 10px;
    color: #474747;
}

.v-content__wrap .bg-primary .container.fill-height {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: calc(60vh - 24px);
}

.container .bg-primary .footer {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    background-size: 100%;
}

.v-content__wrap .container .bg-primary {
    background-image: url(/bg/transfer_money_3.svg);
    background-size: contain;
    z-index: -1;
    height: 100vh;
}

.container .row p.stockName {
    color: #474747;
}

.container .row p.stockDetail {
    color: #003e70;
    float: right;
    text-align: right;
}

.container .row.hr {
    border-bottom: 1px dashed #003e70ab;
    padding: 10px 0px;
}

.container.w80 {
    width: 90%;
}

.flex-style {
    font-size: 0.8rem;
}


/* ================= Stock List ===================== */

.head-result-stock {
    text-align: center;
    text-transform: uppercase;
    background-color: #003e70;
    color: #ffffff;
    padding: 0;
}

table.result-table tr {
    font-size: 5px;
}


/* ================= Stock List ===================== */


/* ================= Betting Button ===================== */

.width-bet-button {
    width: 20%;
}

.w20 {
    width: 19%;
    margin: 0 4px;
}

.w16 {
    width: 14.666666%;
    margin: 0 4px;
}

.w18 {
    width: 18.55555%;
    margin: 0 4px;
}

.align_button4.v-btn {
    height: 83px;
    font-size: 16px;
    font-weight: 400;
    background-color: #003e70 !important;
    color: #ffffff !important;
    margin: 4px;
    min-width: 100%;
}

.align_button5.v-btn {
    height: 83px;
    font-size: 16px;
    font-weight: 400;
    background-color: #003e70 !important;
    color: #ffffff !important;
    margin: 4.4444444444px;
    min-width: 14.544444%;
    padding: 0;
}

.align_button4.v-btn .v-btn__content,
.align_button5.v-btn .v-btn__content {
    display: block;
}

.big-digit {
    font-size: 1rem;
    font-weight: 600;
}

.small-digit {
    font-size: 12px;
    text-transform: capitalize;
}

.betting-small.v-btn.theme--light {
    height: 25px;
    font-size: 12px;
    padding: 0px;
    margin: 3px 0px 2px 0;
    background-color: #003e70 !important;
    color: #fff !important;
    width: 100%;
}

.layout .flex .layout .flex .container-btn-small {
    width: 100%;
    position: relative;
    display: inline-block;
}

button.btn-small.v-btn.theme--light {
    background-color: #003e70 !important;
    color: #fff !important;
    padding: 0;
    margin: 5px;
    border-radius: 5px;
    min-width: 8.15%;
}

.border-chart {
    border: 1px solid;
    margin: 0;
}


/* .vue-back-to-top i {
    width: 50%;
    display: block;
    height: 50%;
    border-radius: 50%;
    font-size: 25px !important;
    padding: 6px;
} */


/* ================= Betting Button ===================== */


/* Bet Close for desktop */

.align_button4,
.align_button5 {
    border-radius: 10px;
}

.betting-small {
    border-radius: 5px;
}

.bet-close {
    width: 100%;
    z-index: 10;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.bet-close p {
    position: absolute;
    font-size: 10rem;
    z-index: 50;
    text-transform: capitalize;
}

.p-relative {
    position: relative !important;
}


/* End of the bet close for deskop */


/* Bettting Result */

table.result-table {
    font-size: 8px;
}

.table.table-responsive.bet-result {
    font-size: 10px;
}

.table.table-responsive.all-result {
    font-size: 8px;
}

.flex-style {
    width: 100%;
    padding: 10px;
    background-color: #003e70;
    color: #fff;
    min-height: 36px;
}


/* Iphone 5 */


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .betClose {
        height: calc(73vh + 46px);
    }
    .betClose p {
        top: 53%;
        left: 16%;
    }
}

@media only screen and (max-height: 350px) {
    nav.total-bet.v-toolbar.theme--light {
        bottom: auto;
    }
}

@media only screen and (min-width: 568px) {
    .container .bg-primary h1 {
        padding: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .container-bet {
        height: calc(100vh - 170px);
    }
}

@media only screen and (min-width: 960px) {}

@media only screen and (min-width: 1264px) {}

@media only screen and (min-width: 1904px) {
    button.btn-small.v-btn.theme--light {
        min-width: 8.6%;
    }
    .align_button5.v-btn {
        min-width: 14.66666%;
    }
    table.result-table tr {
        font-size: 10px;
    }
    .table.table-responsive.bet-result {
        font-size: 14px;
    }
    .table.table-responsive.all-result {
        font-size: 10px;
    }
}

.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0px 18px 18px 18px !important;
    border-color: transparent transparent #fafafa transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: -13px !important;
    margin-bottom: -9px;
}